/* Import custom fonts */
@font-face {
  font-family: "1942 Report";
  src: url("./fonts/1942-Report.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum Myeongjo";
  src: url("./fonts/NanumMyeongjo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM-Sans-Regular.ttf") format("truetype");
}

/* Apply global styles */
body {
  margin: 0;
  font-family: "Montserrat", "DM Sans", "Nanum Myeongjo", "1942 Report", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", "DM Sans", "Nanum Myeongjo", "1942 Report", sans-serif,
    monospace;
}
